trunk/Programming Web Services/Homework1/answer/shanbo/MyAnnotatedSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by kista (kista) -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by John (NJU) -->
<xs:schema xmlns="http://www.ibm.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>                          Resume Schema Definition V1.1</xs:documentation>
	</xs:annotation>
	<xs:element name="Resume">
		<xs:annotation>
			<xs:documentation>It describes a resume or CV of a candidate being submitted for the job positions. It specifies a candidate's contact information, his objectives, education history, language capability, experience, qualifications and professional associations. At the end, there can be a brief summary.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ContactInfo" type="ContactInfoType"/>
				<xs:element name="Objectives">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Objective" type="ObjectiveType" maxOccurs="4"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EducationHistory">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Education" type="EducationType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Languages" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Language" type="LanguageType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Hobbies" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Hobby Lists</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HobbyName" type="HobbyNameType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>It is the name of hobby.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Experience" type="ExperienceType" minOccurs="0"/>
				<xs:element name="Qualifications" type="QualificationType" minOccurs="0"/>
				<xs:element name="ProfessionalAssociations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ProfessionalAssociation" type="ProfessionalAssociationType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Summary" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="1024"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="PublicationTitleKey">
			<xs:selector xpath="Qualifications/Publication/*"/>
			<xs:field xpath="PublicationTitle"/>
		</xs:key>
		<xs:key name="PatentNameKey">
			<xs:selector xpath="Qualifications/Patent"/>
			<xs:field xpath="PatentName"/>
		</xs:key>
		<xs:key name="CertificationTitleKey">
			<xs:selector xpath="Qualifications/Certification"/>
			<xs:field xpath="CertificationTitle"/>
		</xs:key>
		<xs:key name="AwardNameKey">
			<xs:selector xpath="Qualifications/Award"/>
			<xs:field xpath="AwardName"/>
		</xs:key>
		<xs:key name="SpecialityNameKey">
			<xs:selector xpath="Qualifications/Speciality"/>
			<xs:field xpath="SpecialityName"/>
		</xs:key>
		<xs:keyref name="PublicationTitleKeyRef" refer="PublicationTitleKey">
			<xs:selector xpath=".//QualificationReference"/>
			<xs:field xpath="PublicationRef"/>
		</xs:keyref>
		<xs:keyref name="PatentNameKeyRef" refer="PatentNameKey">
			<xs:selector xpath=".//QualificationReference"/>
			<xs:field xpath="PatentRef"/>
		</xs:keyref>
		<xs:keyref name="CertificationTitleKeyRef" refer="CertificationTitleKey">
			<xs:selector xpath=".//QualificationReference"/>
			<xs:field xpath="CertificationRef"/>
		</xs:keyref>
		<xs:keyref name="AwardNameKeyRef" refer="AwardNameKey">
			<xs:selector xpath=".//QualificationReference"/>
			<xs:field xpath="AwardRef"/>
		</xs:keyref>
		<xs:keyref name="SpecialityNameKeyRef" refer="SpecialityNameKey">
			<xs:selector xpath=".//QualificationReference"/>
			<xs:field xpath="SpecialityRef"/>
		</xs:keyref>
	</xs:element>
	<!-- =====================Contact Info Definition========================-->
	<xs:complexType name="ContactInfoType">
		<xs:annotation>
			<xs:documentation>It specifies the information to contact a person or an organization, including the person name, and his contact methods, such as phones, fax, emails, postal address, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="PersonNameType"/>
			<xs:element name="ContactMethod" type="ContactMethodType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>It is person name information, including the given name, family name and optional middle name. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GivenName" type="NameType"/>
			<xs:element name="MiddleName" type="NameType" minOccurs="0"/>
			<xs:element name="FamilyName" type="NameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactMethodType">
		<xs:annotation>
			<xs:documentation>It defines the methods to contact a person or an organization. It includes phones, fax, pager, emails, web site and postal address. A noticeable thing is that the first email in sequence is regarded as the main email address, and the second one, if existing, acts as a backup email</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Phone" type="PhoneNumberType" maxOccurs="3"/>
			<xs:element name="Fax" type="PhoneNumberType" minOccurs="0"/>
			<xs:element name="InternetEmailAddress" type="InternetEmailAddressType" maxOccurs="2"/>
			<xs:element name="InternetWebAddress" type="InternetWebAddressType" minOccurs="0"/>
			<xs:element name="Postal" type="PostalType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalType">
		<xs:sequence>
			<xs:element name="PostalAddress">
				<xs:simpleType>
					<xs:restriction base="PostalAddressType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PostalAddressType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PostalCodeType">
		<xs:annotation>
			<xs:documentation>Postal code is consist of 6 digits,  and starts with non-zero digit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetEmailAddressType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
			<xs:pattern value="[^@]+@[^.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InternetWebAddressType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PhoneNumberType">
		<xs:annotation>
			<xs:documentation>It specifies a phone number, including its area city code, subscriber number and extension number. And there is a required type to specify the phone purpose, such as home, office or mobile.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AreaCityCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
						<xs:pattern value="[\d]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SubscriberNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
						<xs:pattern value="[\d]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Extension" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
						<xs:pattern value="[\d]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Home"/>
					<xs:enumeration value="Office"/>
					<xs:enumeration value="Mobile"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!-- =====================End of Contact Info Definition=================  -->
	<!-- =====================Objective Definition============================  -->
	<xs:simpleType name="ObjectiveType">
		<xs:annotation>
			<xs:documentation>It specifies a candidate's objective. It is an union of the ObjectiveEnumType and the NameType. Its value can be either an item defined in the ObjectiveEnumType, or a piece of objective description that conforms to the NameType.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ObjectiveEnumType NameType"/>
	</xs:simpleType>
	<xs:simpleType name="ObjectiveEnumType">
		<xs:annotation>
			<xs:documentation>It is an enumeration of the currently available job positions in IBM China Research Lab and IBM China Development Lab. A candidate can get the detailed job positions in User Guide, or write your own objectives.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRL-Business Transformation Solution"/>
			<xs:enumeration value="CRL-Supply Chain and Logistics Management Research"/>
			<xs:enumeration value="CRL-Management Science and Operations Research"/>
			<xs:enumeration value="CRL-User Paradigm Research"/>
			<xs:enumeration value="CRL-Distributed Computing"/>
			<xs:enumeration value="CRL-Data Management"/>
			<xs:enumeration value="CRL-Internet Media"/>
			<xs:enumeration value="CRL-Embedded System Design"/>
			<xs:enumeration value="CRL-Knowledge Representation and Reasoning"/>
			<xs:enumeration value="CRL-Mobile Messaging"/>
			<xs:enumeration value="CRL-Wireless Applications and Solutions"/>
			<xs:enumeration value="CRL-Home/Office Automation"/>
			<xs:enumeration value="CRL-Speech Technology"/>
			<xs:enumeration value="CDL-Pervasive Computing"/>
			<xs:enumeration value="CDL-Web Platform and Applications"/>
			<xs:enumeration value="CDL-Tivoli Development"/>
			<xs:enumeration value="CDL-Linux Development, Cluster And Grid Computing"/>
			<xs:enumeration value="CDL-Speech Development"/>
			<xs:enumeration value="CDL-Middleware and Systems Development"/>
			<xs:enumeration value="CDL-eBusiness"/>
			<xs:enumeration value="CDL-Banking System Development"/>
			<xs:enumeration value="CDL-Lotus Software Testing"/>
			<xs:enumeration value="CDL-eCommerce testing and Linux development"/>
			<xs:enumeration value="CDL-e-Commerce Development"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- =====================End of Objective Definition=====================  -->
	<!-- =====================Education History ===========================-->
	<xs:complexType name="EducationType">
		<xs:annotation>
			<xs:documentation>It describes a piece of education experience, including the school name, the degree name and major information. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchoolName" type="NameType"/>
			<xs:element name="Degree" type="DegreeType"/>
			<xs:element name="Major" type="MajorType"/>
			<xs:element name="DissertationName" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the degree dissertation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualificationReference" type="QualificationReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Here to list the qualifications that are achieved during the education experience. They refer to qualifications specified in the Qualifications dimension.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MajorType">
		<xs:annotation>
			<xs:documentation>It describes the major of a formal education degree. It is the union of the MajorEnumType and the NameType. So its value can be an item listed in the MajorEnumType, or a customized value conforming to the NameType.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="MajorEnumType NameType"/>
	</xs:simpleType>
	<xs:simpleType name="MajorEnumType">
		<xs:annotation>
			<xs:documentation>It lists several major names, including CS, EE, Math, Automation, Information, Physics, and so on.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Computer Science"/>
			<xs:enumeration value="Electronic Engineering"/>
			<xs:enumeration value="Math"/>
			<xs:enumeration value="Information"/>
			<xs:enumeration value="Physics"/>
			<xs:enumeration value="Automation"/>
			<xs:enumeration value="Psychology"/>
			<xs:enumeration value="Behavioral Science"/>
			<xs:enumeration value="Recognition"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DegreeType">
		<xs:annotation>
			<xs:documentation>It describes a degree, including its name and granted date.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DegreeName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Doctor"/>
						<xs:enumeration value="Master"/>
						<xs:enumeration value="Bachelor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DegreeDate" type="FlexibleDates"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ===================End of Education History =======================-->
	<!-- =====================Language Definition =========================-->
	<xs:complexType name="LanguageType">
		<xs:annotation>
			<xs:documentation>It describes a candidate's information about a kind of language, including the language name, his level, and references to corresponding language qualifications.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LanguageName" type="LanguageNameType"/>
			<xs:element name="Level" type="SkillLevelType">
				<xs:annotation>
					<xs:documentation>Here is a candidate's self-assessment of his language level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualificationReference" type="QualificationReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>It refers to specified qualifications, which could demonstrates a candidate's language capability.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LanguageNameType">
		<xs:annotation>
			<xs:documentation>It specifies the name of a language. It is an union of LanguageNameEnumType and NameType, so its value can be selected from the enumeration, or a customized value conforming to the NameType.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="LanguageNameEnumType NameType"/>
	</xs:simpleType>
	<xs:simpleType name="LanguageNameEnumType">
		<xs:annotation>
			<xs:documentation>It enumerates several language names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="English"/>
			<xs:enumeration value="French"/>
			<xs:enumeration value="German"/>
			<xs:enumeration value="Russian"/>
			<xs:enumeration value="Spanish"/>
			<xs:enumeration value="Japanese"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ==================End of Language Definition ======================-->
	<!-- =====================Experience Definition==========================-->
	<xs:complexType name="ExperienceType">
		<xs:annotation>
			<xs:documentation>It describes a candidate's experience, including his project experience, employment history, professional training and social activity experience. It should be noticed that there are two special elements in every experience, one is the DemonstratedSkills and the other is the QualificationReference. The DemonstratedSkills is used to specify what skills are demonstrated (applied in or acquired from) during the experience, and the QualificationReference is used to specify the qualifications which could prove your success during the experience. An important state is that the value of the QualificationReference element must refer to an item you inputted in the Qualifications dimension.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Project" type="ProjectType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Employment" type="EmploymentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ProfessionalTraining" type="ProfessionalTrainingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SocialActivity" type="SocialActivityType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfessionalTrainingType">
		<xs:annotation>
			<xs:documentation>It describes a professional training, such as the training name, provider, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TrainingName" type="NameType"/>
			<xs:element name="TrainingProvider" type="NameType"/>
			<xs:element name="TrainingSite" type="NameType" minOccurs="0"/>
			<xs:element name="Duration" type="DurationType"/>
			<xs:element name="DemonstratedSkills" type="DemonstratedSkillsType" minOccurs="0"/>
			<xs:element name="QualificationReference" type="QualificationReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentType">
		<xs:annotation>
			<xs:documentation>It describes a candidate's employment experience in one unit. Except the employer information, there are positions a candidate have held in the unit.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmployerInfo" type="EmployerInfoType"/>
			<xs:element name="Position" type="PositionType" maxOccurs="unbounded"/>
			<xs:element name="ReferencePerson" type="ContactInfoType" minOccurs="0"/>
			<xs:element name="ReasonToLeave" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="TextDescriptionType">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProjectType">
		<xs:annotation>
			<xs:documentation>It describes a candidate's experience in a project. There is a required attribute isResearchProject to specify whether the project is a research project or not. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProjectName" type="NameType"/>
			<xs:element name="ProjectDescription" type="TextDescriptionType"/>
			<xs:element name="ProjectKeyword" minOccurs="0" maxOccurs="6">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Sponsor" type="NameType" minOccurs="0"/>
			<xs:element name="PersonMonthScale" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RoleInProject" type="RoleType" maxOccurs="unbounded"/>
			<xs:element name="Duration" type="DurationType"/>
			<xs:element name="PersonalContributionDescription" type="TextDescriptionType" minOccurs="0"/>
			<xs:element name="ReferencePerson" type="ContactInfoType" minOccurs="0"/>
			<xs:element name="DemonstratedSkills" type="DemonstratedSkillsType" minOccurs="0"/>
			<xs:element name="QualificationReference" type="QualificationReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="isResearchProject" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="SocialActivityType">
		<xs:annotation>
			<xs:documentation>It describes a social activity, including a brief description, time duration, played roles etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActivityDescription">
				<xs:simpleType>
					<xs:restriction base="TextDescriptionType">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Duration" type="DurationType"/>
			<xs:element name="Role" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DemonstratedSkills" type="DemonstratedSkillsType" minOccurs="0"/>
			<xs:element name="QualificationReference" type="QualificationReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployerInfoType">
		<xs:annotation>
			<xs:documentation>It describes information of an employer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmployerOrgName" type="NameType"/>
			<xs:element name="OrgSize" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It means the number of employee of the position organization.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrgLocationCity" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WebSite" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="InternetWebAddressType"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PositionType">
		<xs:annotation>
			<xs:documentation>It describes a position that a candidate has held in the position organization.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Title" type="NameType"/>
			<xs:element name="Department" type="NameType" minOccurs="0"/>
			<xs:element name="ContributionDescription" type="TextDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Here to brief introduce a candidate's contribution and achievement in the position.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="DurationType"/>
			<xs:element name="DemonstratedSkills" type="DemonstratedSkillsType" minOccurs="0"/>
			<xs:element name="QualificationReference" type="QualificationReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QualificationReferenceType">
		<xs:annotation>
			<xs:documentation>It defines how to refer to the specified qualifications in the Qualification dimension. Consistent with the Qualification definition, here are five choice of reference.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AwardRef" type="NameType">
				<xs:annotation>
					<xs:documentation>It refers to the AwardName in the Qualification/Award.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificationRef" type="NameType">
				<xs:annotation>
					<xs:documentation>It refers to the CertificationTitle in the Qualification/Certification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatentRef" type="NameType">
				<xs:annotation>
					<xs:documentation>It refers to the PatentName in the Qualification/Patent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PublicationRef" type="NameType">
				<xs:annotation>
					<xs:documentation>It refers to the PublicationTitle in the Qualification/Publication.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecialityRef" type="NameType">
				<xs:annotation>
					<xs:documentation>It refers to the SpecialityTitle in the Qualification/Speciality.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="RoleType">
		<xs:annotation>
			<xs:documentation>It specifies a candidate's role in a project. It is the union of the RoleEnumType and NameType. A valid value can be either an item from the predefined RoleEnumType enumeration, or a customized value conforming to the NameType.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="RoleEnumType NameType"/>
	</xs:simpleType>
	<xs:simpleType name="RoleEnumType">
		<xs:annotation>
			<xs:documentation>It defines several common roles, such as Manager, Architect, Analyzer, Designer, Coder and Tester.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Manager"/>
			<xs:enumeration value="Architect"/>
			<xs:enumeration value="Designer"/>
			<xs:enumeration value="Tester"/>
			<xs:enumeration value="Coder"/>
			<xs:enumeration value="Analyzer"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- =====================End of Experience Definition===================-->
	<!-- =====================Hobby Definition======================= -->
	<xs:simpleType name="HobbyNameType">
		<xs:annotation>
			<xs:documentation>It specifies the name of a Hobby. It is an union of HobbyNameEnumType and NameType, so its value can be selected from the enumeration, or a customized value conforming to the NameType.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="HobbyNameEnumType NameType"/>
	</xs:simpleType>
	<xs:simpleType name="HobbyNameEnumType">
		<xs:annotation>
			<xs:documentation>It enumerates several hobby names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Amateur as                                             "/>
			<xs:enumeration value="Amateur mi                                             "/>
			<xs:enumeration value="Chemical ets (or kitchen chemistry)                    "/>
			<xs:enumeration value="Electronic scale, of course.                           "/>
			<xs:enumeration value="Fireworks                                              "/>
			<xs:enumeration value="Lasers                                                 "/>
			<xs:enumeration value="Mass-Obser                                             "/>
			<xs:enumeration value="Physics dexperiments                                   "/>
			<xs:enumeration value="Robots                                                 "/>
			<xs:enumeration value="Fancy (aniding) (keeping pet or show animals)          "/>
			<xs:enumeration value="Animal resured or orphaned wild or domestic animals)   "/>
			<xs:enumeration value="Bird watch                                             "/>
			<xs:enumeration value="Beekeeping                                             "/>
			<xs:enumeration value="Dog breedi                                             "/>
			<xs:enumeration value="Falconry                                               "/>
			<xs:enumeration value="Fishkeepin                                             "/>
			<xs:enumeration value="Herpetocul                                             "/>
			<xs:enumeration value="Horses                                                 "/>
			<xs:enumeration value="Hunting                                                "/>
			<xs:enumeration value="Dog agilit                                             "/>
			<xs:enumeration value="Dog traini                                             "/>
			<xs:enumeration value="Altar art                                              "/>
			<xs:enumeration value="Beading                                                "/>
			<xs:enumeration value="Blacksmith                                             "/>
			<xs:enumeration value="Calligraph                                             "/>
			<xs:enumeration value="Collaging                                              "/>
			<xs:enumeration value="Cosplay                                                "/>
			<xs:enumeration value="Crochet                                                "/>
			<xs:enumeration value="Cross-stit                                             "/>
			<xs:enumeration value="Stamping                                               "/>
			<xs:enumeration value="Warm glass                                             "/>
			<xs:enumeration value="Weaving     ch                                         "/>
			<xs:enumeration value="Wood carving                                           "/>
			<xs:enumeration value="Woodworking                                            "/>
			<xs:enumeration value="Watches                                                "/>
			<xs:enumeration value="Antiques                                               "/>
			<xs:enumeration value="Artwork                                                "/>
			<xs:enumeration value="Autographs                                             "/>
			<xs:enumeration value="Aviation archaeology                                   "/>
			<xs:enumeration value="Banknotes                                              "/>
			<xs:enumeration value="Baseball cards                                         "/>
			<xs:enumeration value="Beetles                                                "/>
			<xs:enumeration value="Books                                                  "/>
			<xs:enumeration value="Bottles                                                "/>
			<xs:enumeration value="Business cards                                         "/>
			<xs:enumeration value="Butterflies                                            "/>
			<xs:enumeration value="Calendars                                              "/>
			<xs:enumeration value="Cameras                                                "/>
			<xs:enumeration value="Candlesticks                                           "/>
			<xs:enumeration value="Cards                                                  "/>
			<xs:enumeration value="Conifer cones                                          "/>
			<xs:enumeration value="Bottle caps                                            "/>
			<xs:enumeration value="Christmas accessories                                  "/>
			<xs:enumeration value="Classic videogames                                     "/>
			<xs:enumeration value="Clocks                                                 "/>
			<xs:enumeration value="Coasters                                               "/>
			<xs:enumeration value="Coins                                                  "/>
			<xs:enumeration value="Comic books                                            "/>
			<xs:enumeration value="Crystals                                               "/>
			<xs:enumeration value="Currency                                               "/>
			<xs:enumeration value="Dice                                                   "/>
			<xs:enumeration value="Die-cast toys                                          "/>
			<xs:enumeration value="Dumpster diving                                        "/>
			<xs:enumeration value="Enamels                                                "/>
			<xs:enumeration value="Fashion Design                                         "/>
			<xs:enumeration value="Feathers                                               "/>
			<xs:enumeration value="Fossils                                                "/>
			<xs:enumeration value="Found objects                                          "/>
			<xs:enumeration value="Fountain pens                                          "/>
			<xs:enumeration value="Guns                                                   "/>
			<xs:enumeration value="Hats                                                   "/>
			<xs:enumeration value="Jewelry                                                "/>
			<xs:enumeration value="Keychains                                              "/>
			<xs:enumeration value="Knives (pocket knives, hunting knives, kitchen knives) "/>
			<xs:enumeration value="License Plates                                         "/>
			<xs:enumeration value="Lunchboxes                                             "/>
			<xs:enumeration value="Manga                                                  "/>
			<xs:enumeration value="Matchcovers and matchboxes            "/>
			<xs:enumeration value="Microchips                                             "/>
			<xs:enumeration value="Militaria                                              "/>
			<xs:enumeration value="Miniature figures                                      "/>
			<xs:enumeration value="Moths                                                  "/>
			<xs:enumeration value="Newspapers                                             "/>
			<xs:enumeration value="Patches                                                "/>
			<xs:enumeration value="Photographs                                            "/>
			<xs:enumeration value="Plates                                                 "/>
			<xs:enumeration value="Postcards                                              "/>
			<xs:enumeration value="Posters                                                "/>
			<xs:enumeration value="Quotations                                             "/>
			<xs:enumeration value="Recordings (Records, CDs, Cassettes)                   "/>
			<xs:enumeration value="Rocks and Minerals                                     "/>
			<xs:enumeration value="Scale models                                           "/>
			<xs:enumeration value="Salt and pepper shakers                                "/>
			<xs:enumeration value="Shopping lists                                         "/>
			<xs:enumeration value="Snow globes                                            "/>
			<xs:enumeration value="Souvenirs                                              "/>
			<xs:enumeration value="Spoons                                                 "/>
			<xs:enumeration value="Stamps                                                 "/>
			<xs:enumeration value="Stickers                                               "/>
			<xs:enumeration value="Swords                                                 "/>
			<xs:enumeration value="Teddy bears                                            "/>
			<xs:enumeration value="Thimbles                                               "/>
			<xs:enumeration value="Trading cards (such as baseball cards)                 "/>
			<xs:enumeration value="Treasure hunting (possibly using metal detectors)      "/>
			<xs:enumeration value="Toys                                                   "/>
			<xs:enumeration value="Watches and Clocks                                     "/>
			<xs:enumeration value="Wine                                                   "/>
			<xs:enumeration value="Yardsticks                                             "/>
			<xs:enumeration value="3D computer graphics design                            "/>
			<xs:enumeration value="Animation design                                       "/>
			<xs:enumeration value="Computer games                                         "/>
			<xs:enumeration value="Computer programming                                   "/>
			<xs:enumeration value="Open source and the free software movement             "/>
			<xs:enumeration value="Competitive programming                                "/>
			<xs:enumeration value="Distributed computing projects                         "/>
			<xs:enumeration value="Image editing (with Adobe Photoshop for example)       "/>
			<xs:enumeration value="Retrocomputing                                         "/>
			<xs:enumeration value="Modding                                                "/>
			<xs:enumeration value="Baking                                                 "/>
			<xs:enumeration value="Barbecue (Grilling)                                    "/>
			<xs:enumeration value="Beer making                                            "/>
			<xs:enumeration value="OpenCola                                               "/>
			<xs:enumeration value="Home Canning                                           "/>
			<xs:enumeration value="Cake making                                            "/>
			<xs:enumeration value="Home Repairs                                           "/>
			<xs:enumeration value="Interior Design                                        "/>
			<xs:enumeration value="Logging Inventing ideas                                "/>
			<xs:enumeration value="Lock picking                                           "/>
			<xs:enumeration value="Low-tech                                               "/>
			<xs:enumeration value="Spud gun                                               "/>
			<xs:enumeration value="Go-Karting                                             "/>
			<xs:enumeration value="Refurbishing                                           "/>
			<xs:enumeration value="Amateur radio                                          "/>
			<xs:enumeration value="CB radio                                               "/>
			<xs:enumeration value="Circuit bending                                        "/>
			<xs:enumeration value="DIY audio                                              "/>
			<xs:enumeration value="Designing and building electronic circuits             "/>
			<xs:enumeration value="Hardware hacking                                       "/>
			<xs:enumeration value="TV and FM DXing                                        "/>
			<xs:enumeration value="Home theater                                           "/>
			<xs:enumeration value="Animation                                              "/>
			<xs:enumeration value="Short movies                                           "/>
			<xs:enumeration value="Board games                                            "/>
			<xs:enumeration value="Backgammon                                             "/>
			<xs:enumeration value="Checkers                                               "/>
			<xs:enumeration value="Chess                                                  "/>
			<xs:enumeration value="Carrom                                                 "/>
			<xs:enumeration value="Chinese Checkers                                       "/>
			<xs:enumeration value="Clue                                                   "/>
			<xs:enumeration value="German board games                                     "/>
			<xs:enumeration value="Go                                                     "/>
			<xs:enumeration value="Monopoly                                               "/>
			<xs:enumeration value="Pente                                                  "/>
			<xs:enumeration value="Risk                                                   "/>
			<xs:enumeration value="Rummikub                                               "/>
			<xs:enumeration value="Tournament Scrabble                                    "/>
			<xs:enumeration value="Stratego                                               "/>
			<xs:enumeration value="Card games                                             "/>
			<xs:enumeration value="Bridge                                                 "/>
			<xs:enumeration value="Cribbage                                               "/>
			<xs:enumeration value="Gin rummy                                              "/>
			<xs:enumeration value="Hearts                                                 "/>
			<xs:enumeration value="Poker                                                  "/>
			<xs:enumeration value="Rook                                                   "/>
			<xs:enumeration value="Spades                                                 "/>
			<xs:enumeration value="Trading Card Games                                     "/>
			<xs:enumeration value="euchre                                                 "/>
			<xs:enumeration value="Cue sports                                             "/>
			<xs:enumeration value="Dominoes                                               "/>
			<xs:enumeration value="Fantasy sports                                         "/>
			<xs:enumeration value="Role-playing games                                     "/>
			<xs:enumeration value="Sudoku                                                 "/>
			<xs:enumeration value="Tiddlywinks                                            "/>
			<xs:enumeration value="Video games                                            "/>
			<xs:enumeration value="Wargaming, sometimes with miniatures                   "/>
			<xs:enumeration value="Bonzai                                                 "/>
			<xs:enumeration value="Grafting                                               "/>
			<xs:enumeration value="Ancient reenactment                                    "/>
			<xs:enumeration value="Dark Ages reenactment                                  "/>
			<xs:enumeration value="Early Medieval reenactment                             "/>
			<xs:enumeration value="High Medieval reenactment                              "/>
			<xs:enumeration value="Renaissance reenactment                                "/>
			<xs:enumeration value="Jousting                                               "/>
			<xs:enumeration value="English Civil War reenactment                          "/>
			<xs:enumeration value="Modern reenactment                                     "/>
			<xs:enumeration value="North America Fur Trade reenactments                   "/>
			<xs:enumeration value="French and Indian War reenactment                      "/>
			<xs:enumeration value="American Revolutionary War reenactment                 "/>
			<xs:enumeration value="Napoleonic war reenactment                             "/>
			<xs:enumeration value="Franco-Prussian War reenactment                        "/>
			<xs:enumeration value="American Civil War reenactment                         "/>
			<xs:enumeration value="Wild West reenactment                                  "/>
			<xs:enumeration value="Cowboy action shooting                                 "/>
			<xs:enumeration value="World War II                                           "/>
			<xs:enumeration value="Collaborative fiction                                  "/>
			<xs:enumeration value="Gamebook                                               "/>
			<xs:enumeration value="Interactive storytelling                               "/>
			<xs:enumeration value="Role-playing game                                      "/>
			<xs:enumeration value="Beboing                                                "/>
			<xs:enumeration value="Blogging                                               "/>
			<xs:enumeration value="BookCrossing                                           "/>
			<xs:enumeration value="Currency bill tracking                                 "/>
			<xs:enumeration value="Facebooking                                            "/>
			<xs:enumeration value="Geocaching                                             "/>
			<xs:enumeration value="Google whacking                                        "/>
			<xs:enumeration value="GPS drawing                                            "/>
			<xs:enumeration value="IRC                                                    "/>
			<xs:enumeration value="MUD                                                    "/>
			<xs:enumeration value="MSN                                                    "/>
			<xs:enumeration value="MySpace                                                "/>
			<xs:enumeration value="Newsgroups                                             "/>
			<xs:enumeration value="Random surfing                                         "/>
			<xs:enumeration value="StumbleUpon                                            "/>
			<xs:enumeration value="Trolling                                               "/>
			<xs:enumeration value="Wikipedia                                              "/>
			<xs:enumeration value="World Wide Web                                         "/>
			<xs:enumeration value="Yahoo Answers                                          "/>
			<xs:enumeration value="Friendster                                             "/>
			<xs:enumeration value="Mindsay                                                "/>
			<xs:enumeration value="Constructed languages (conlanging)                     "/>
			<xs:enumeration value="Geofiction, including model nations                    "/>
			<xs:enumeration value="Learning foreign languages                             "/>
			<xs:enumeration value="Reading and bibliophilia                               "/>
			<xs:enumeration value="Penpal                                                 "/>
			<xs:enumeration value="Writing                                                "/>
			<xs:enumeration value="Zines                                                  "/>
			<xs:enumeration value="Gunpla                                                 "/>
			<xs:enumeration value="Live steam models                                      "/>
			<xs:enumeration value="Matchstick models                                      "/>
			<xs:enumeration value="Military models                                        "/>
			<xs:enumeration value="Model aircraft                                         "/>
			<xs:enumeration value="Model cars, including radio-controlled cars            "/>
			<xs:enumeration value="Model commercial vehicles                              "/>
			<xs:enumeration value="Model engineering (Machining)                          "/>
			<xs:enumeration value="Model houses                                           "/>
			<xs:enumeration value="Model figures                                          "/>
			<xs:enumeration value="Model military vehicles                                "/>
			<xs:enumeration value="Model nations                                          "/>
			<xs:enumeration value="Model railways                                         "/>
			<xs:enumeration value="Backyard railroads                                     "/>
			<xs:enumeration value="Model rockets                                          "/>
			<xs:enumeration value="Model ships                                            "/>
			<xs:enumeration value="Model yachting                                         "/>
			<xs:enumeration value="Karaoke                                                "/>
			<xs:enumeration value="Musical composition and MIDI composition               "/>
			<xs:enumeration value="Singing and playing musical instruments                "/>
			<xs:enumeration value="Songwriting                                            "/>
			<xs:enumeration value="Amateur astronomy                                      "/>
			<xs:enumeration value="Bird watching                                          "/>
			<xs:enumeration value="Geyser gazing                                          "/>
			<xs:enumeration value="Horoscopes                                             "/>
			<xs:enumeration value="People                                                 "/>
			<xs:enumeration value="Transportation spotting (see below)                    "/>
			<xs:enumeration value="Airsoft                                                "/>
			<xs:enumeration value="Backpacking                                            "/>
			<xs:enumeration value="Birdfeeding, birding, and birdwatching                 "/>
			<xs:enumeration value="Bouldering                                             "/>
			<xs:enumeration value="Buildering or urban climbing                           "/>
			<xs:enumeration value="Butterfly watching                                     "/>
			<xs:enumeration value="Camping                                                "/>
			<xs:enumeration value="Caving                                                 "/>
			<xs:enumeration value="Canoeing and kayaking                                  "/>
			<xs:enumeration value="Fishing                                                "/>
			<xs:enumeration value="Gardening                                              "/>
			<xs:enumeration value="Geocaching                                             "/>
			<xs:enumeration value="Ghost Hunting                                          "/>
			<xs:enumeration value="Hacky Sack                                             "/>
			<xs:enumeration value="Hiking                                                 "/>
			<xs:enumeration value="Historical Trekking                                    "/>
			<xs:enumeration value="Horse riding                                           "/>
			<xs:enumeration value="Hunting                                                "/>
			<xs:enumeration value="Kite flying                                            "/>
			<xs:enumeration value="Laser skirmish                                         "/>
			<xs:enumeration value="Letterboxing                                           "/>
			<xs:enumeration value="Mountain climbing                                      "/>
			<xs:enumeration value="Nudism                                                 "/>
			<xs:enumeration value="Paintball                                              "/>
			<xs:enumeration value="Rafting                                                "/>
			<xs:enumeration value="Rock climbing                                          "/>
			<xs:enumeration value="Rockhounding                                           "/>
			<xs:enumeration value="Ice Skating                                            "/>
			<xs:enumeration value="Plinking                                               "/>
			<xs:enumeration value="Sailing                                                "/>
			<xs:enumeration value="Sight seeing                                           "/>
			<xs:enumeration value="Skiing                                                 "/>
			<xs:enumeration value="Snowboarding                                           "/>
			<xs:enumeration value="Survival Camping                                       "/>
			<xs:enumeration value="Stone skipping                                         "/>
			<xs:enumeration value="SCUBA diving                                           "/>
			<xs:enumeration value="Traveling                                              "/>
			<xs:enumeration value="Treasure hunting (possibly with metal detectors)       "/>
			<xs:enumeration value="Urban Exploration                                      "/>
			<xs:enumeration value="Walking                                                "/>
			<xs:enumeration value="Amateur theater                                        "/>
			<xs:enumeration value="Dancing                                                "/>
			<xs:enumeration value="Juggling                                               "/>
			<xs:enumeration value="Magic tricks                                           "/>
			<xs:enumeration value="Singing                                                "/>
			<xs:enumeration value="Poetry reading                                         "/>
			<xs:enumeration value="Astrophotography                                       "/>
			<xs:enumeration value="Darkroom work                                          "/>
			<xs:enumeration value="Kite aerial photography                                "/>
			<xs:enumeration value="Aerobics                                               "/>
			<xs:enumeration value="Archery                                                "/>
			<xs:enumeration value="Badminton                                              "/>
			<xs:enumeration value="Baseball, softball, and rounders                       "/>
			<xs:enumeration value="Basketball                                             "/>
			<xs:enumeration value="Bowling                                                "/>
			<xs:enumeration value="Boxing                                                 "/>
			<xs:enumeration value="Cheerleading                                           "/>
			<xs:enumeration value="Cricket                                                "/>
			<xs:enumeration value="Cycling                                                "/>
			<xs:enumeration value="Dance                                                  "/>
			<xs:enumeration value="Diving                                                 "/>
			<xs:enumeration value="Flying                                                 "/>
			<xs:enumeration value="Freshwater and saltwater fishing                       "/>
			<xs:enumeration value="Fencing                                                "/>
			<xs:enumeration value="Football                                               "/>
			<xs:enumeration value="Football (soccer)                                      "/>
			<xs:enumeration value="Free Running                                           "/>
			<xs:enumeration value="Gliding                                                "/>
			<xs:enumeration value="Golf                                                   "/>
			<xs:enumeration value="Gymnastics                                             "/>
			<xs:enumeration value="Hanggliding                                            "/>
			<xs:enumeration value="Horseshoes                                             "/>
			<xs:enumeration value="Hunting                                                "/>
			<xs:enumeration value="Ice skating                                            "/>
			<xs:enumeration value="Kitesurfing                                            "/>
			<xs:enumeration value="Lacrosse                                               "/>
			<xs:enumeration value="Marbles                                                "/>
			<xs:enumeration value="Martial arts                                           "/>
			<xs:enumeration value="netball                                                "/>
			<xs:enumeration value="Paintball                                              "/>
			<xs:enumeration value="Parkour                                                "/>
			<xs:enumeration value="Racquetball                                            "/>
			<xs:enumeration value="Ringette                                               "/>
			<xs:enumeration value="Rowing                                                 "/>
			<xs:enumeration value="Running, Jogging                                       "/>
			<xs:enumeration value="Sailing                                                "/>
			<xs:enumeration value="Shooting rifles, pistols, and shotguns                 "/>
			<xs:enumeration value="Surfing                                                "/>
			<xs:enumeration value="Table tennis                                           "/>
			<xs:enumeration value="Tae Kwon Do                                            "/>
			<xs:enumeration value="Tennis                                                 "/>
			<xs:enumeration value="Trampolining                                           "/>
			<xs:enumeration value="Unicycling                                             "/>
			<xs:enumeration value="Ultimate                                               "/>
			<xs:enumeration value="Volleyball                                             "/>
			<xs:enumeration value="Walking                                                "/>
			<xs:enumeration value="Weight lifting                                         "/>
			<xs:enumeration value="Skating                                                "/>
			<xs:enumeration value="Swimming                                               "/>
			<xs:enumeration value="Skiing                                                 "/>
			<xs:enumeration value="Snowboarding                                           "/>
			<xs:enumeration value="Yachting                                               "/>
			<xs:enumeration value="Yoga                                                   "/>
			<xs:enumeration value="Soccer                                                 "/>
			<xs:enumeration value="LEGO, including Brikwars, and Lego Mindstorms          "/>
			<xs:enumeration value="Radio control toys                                     "/>
			<xs:enumeration value="Erector Setsanding                                     "/>
			<xs:enumeration value="Automobiles:                                           "/>
			<xs:enumeration value="Antique cars                                           "/>
			<xs:enumeration value="Auto detailing                                         "/>
			<xs:enumeration value="Autocross                                              "/>
			<xs:enumeration value="Kit cars                                               "/>
			<xs:enumeration value="Motorcycles                                            "/>
			<xs:enumeration value="Mopeds                                                 "/>
			<xs:enumeration value="Scooters                                               "/>
			<xs:enumeration value="Motorsports                                            "/>
			<xs:enumeration value="Off-roading                                            "/>
			<xs:enumeration value="Rallying                                               "/>
			<xs:enumeration value="Trucks                                                 "/>
			<xs:enumeration value="Enthusiasm                                             "/>
			<xs:enumeration value="Railfan                                                "/>
			<xs:enumeration value="Roadgeek                                               "/>
			<xs:enumeration value="Metrophile                                             "/>
			<xs:enumeration value="Gongoozler                                             "/>
			<xs:enumeration value="Transport spotting                                     "/>
			<xs:enumeration value="Aircraft spotting                                      "/>
			<xs:enumeration value="Bus spotting                                           "/>
			<xs:enumeration value="Train spotting                                         "/>
		</xs:restriction>
	</xs:simpleType>
	<!-- =====================End of Hobby Definition ================= -->
	<!-- =====================Qualification Defintion===================  -->
	<xs:complexType name="QualificationType">
		<xs:annotation>
			<xs:documentation>It specifies a candidate's qualifications, which can demonstrate one's capability. It is result-oriented, including publication, patent, certification, award and speciality.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Publication" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Publication is divided into journal publication, conference publication and book.  So for each publication, a candidate could select the content model and input corresponding information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="JournalPublication" type="JournalPublicationType"/>
						<xs:element name="ConferencePublication" type="ConferencePublicationType"/>
						<xs:element name="Book" type="BookType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Patent" type="PatentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Certification" type="CertificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Award" type="AwardType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Speciality" type="SpecialityType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatentType">
		<xs:annotation>
			<xs:documentation>it specifies the information of a patent, such as the patent name and number, filed date. At the end, a candidate could state his personal contribution for the patent.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PatentName" type="NameType"/>
			<xs:element name="PatentNo">
				<xs:annotation>
					<xs:documentation>The patent SN number, such as U.S., Patent 1,000,000</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FiledDate" type="FlexibleDates"/>
			<xs:element name="PersonalContributionDescription" type="TextDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AwardType">
		<xs:annotation>
			<xs:documentation>It describes the information of an award.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AwardName" type="NameType"/>
			<xs:element name="Level" minOccurs="0">
				<xs:annotation>
					<xs:documentation>It specifies the award level, such as First Class</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AwardGrantor" type="NameType" minOccurs="0"/>
			<xs:element name="AwardedDate" type="FlexibleDates"/>
			<xs:element name="ReasonToBeAwarded" type="TextDescriptionType" minOccurs="0"/>
			<xs:element name="PersonalContributionDescription" type="TextDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificationType">
		<xs:annotation>
			<xs:documentation>It describes all kinds of certifications, including professional certification and language certification, such as IBM AIX Certification and TOFEL.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificationTitle" type="NameType"/>
			<xs:element name="CertificationGrantor" type="NameType"/>
			<xs:element name="CertifiedDate" type="FlexibleDates"/>
			<xs:element name="Score" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Some certifications have score, for example, the score of a TOFEL can be 630, and the score of an IBM AIX certification can be excellent.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DemonstratedSkills" type="DemonstratedSkillsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialityType">
		<xs:annotation>
			<xs:documentation>Speciality means your strong suits, such as music, sports, etc</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SpecialityName" type="NameType"/>
			<xs:element name="SpecialityDescription" type="TextDescriptionType">
				<xs:annotation>
					<xs:documentation>It is a brief description of a candidate's capability of the speciality.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublicationType">
		<xs:annotation>
			<xs:documentation>It specifies the common information of a publication, such as a title, publish date, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PublicationTitle" type="NameType"/>
			<xs:element name="PublishDate" type="FlexibleDates"/>
			<xs:element name="AuthorOrder">
				<xs:annotation>
					<xs:documentation>It is the candidate's order in the publication's authors list.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PersonalContributionDescription" type="TextDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JournalPublicationType">
		<xs:annotation>
			<xs:documentation>It describes a journal publication information. It extends from the PublicationType by adding the journal name and journal volume information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PublicationType">
				<xs:sequence>
					<xs:element name="JournalName" type="NameType"/>
					<xs:element name="JournalVolume" minOccurs="0">
						<xs:annotation>
							<xs:documentation>It describes in which volume the journal publication is, it can also include the page number. For example, its value can be Vol.26, No.1, pp.55-69.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="32"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConferencePublicationType">
		<xs:annotation>
			<xs:documentation>It describes a conference publication. It extends the PublicationType by adding the conference name and conference sponsors.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PublicationType">
				<xs:sequence>
					<xs:element name="ConferenceName" type="NameType"/>
					<xs:element name="ConferenceSponsor" type="NameType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BookType">
		<xs:annotation>
			<xs:documentation>It describes the information of a book. It reuses the PublicationType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PublicationType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- =====================End of Qualification Definition===========-->
	<!-- =====================Professional Association Definition============-->
	<xs:complexType name="ProfessionalAssociationType">
		<xs:annotation>
			<xs:documentation>It describes a professional association with which a candidate maintains a membership.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Association" type="NameType">
				<xs:annotation>
					<xs:documentation>The name of an association, such as ACM, IEEE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Membership" type="NameType">
				<xs:annotation>
					<xs:documentation>It describes a candidate's membership to the association, such as member, fellow, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ===============End of Professional Association Definition===========-->
	<!--  -->
	<xs:simpleType name="NameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextDescriptionType">
		<xs:annotation>
			<xs:documentation>Usually it is used to describe various description, such as personal contribution description, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  -->
	<!-- =====================Skill Definition===============================-->
	<xs:complexType name="DemonstratedSkillsType">
		<xs:annotation>
			<xs:documentation>It specified skills demonstrated in a piece of experience, or a qualification. It includes both technical skills and non technical skills. For example, in a piece of project experience, both programming skill(technical) and leadership skill(non-technical) are demonstrated.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TechnicalSkill" type="TechSkillType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NonTechnicalSkill" type="NonTechSkillType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Such as Communication, Leadership, and so on</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TechSkillType">
		<xs:sequence>
			<xs:element name="SkillName">
				<xs:simpleType>
					<xs:union memberTypes="TechSkillEnumType NameType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SkillLevel" type="SkillLevelType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NonTechSkillType">
		<xs:sequence>
			<xs:element name="SkillName" type="NameType"/>
			<xs:element name="SkillLevel" type="SkillLevelType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TechSkillEnumType">
		<xs:annotation>
			<xs:documentation>It enumerates some common used skill terms. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="3G"/>
			<xs:enumeration value="802.11b"/>
			<xs:enumeration value="Access"/>
			<xs:enumeration value="ActiveX"/>
			<xs:enumeration value="Ad-hoc Network"/>
			<xs:enumeration value="Agent"/>
			<xs:enumeration value="AIX"/>
			<xs:enumeration value="Anti-SPAM"/>
			<xs:enumeration value="Apache"/>
			<xs:enumeration value="Applet"/>
			<xs:enumeration value="Architecture"/>
			<xs:enumeration value="ASIC/SoC"/>
			<xs:enumeration value="ASP"/>
			<xs:enumeration value="Assemble Language"/>
			<xs:enumeration value="ATM"/>
			<xs:enumeration value="Audio"/>
			<xs:enumeration value="Automatic Machine"/>
			<xs:enumeration value="Autonomic Computing"/>
			<xs:enumeration value="A/D"/>
			<xs:enumeration value="Behavioral Science"/>
			<xs:enumeration value="Basic"/>
			<xs:enumeration value="Blue Tooth"/>
			<xs:enumeration value="Browser"/>
			<xs:enumeration value="Browser-Server"/>
			<xs:enumeration value="Business Operations"/>
			<xs:enumeration value="Business Process Integration and Management"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="C Sharp"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CAM"/>
			<xs:enumeration value="CDMA"/>
			<xs:enumeration value="CGI"/>
			<xs:enumeration value="CIM"/>
			<xs:enumeration value="CIMS"/>
			<xs:enumeration value="Client-Server"/>
			<xs:enumeration value="CMM"/>
			<xs:enumeration value="Cobal"/>
			<xs:enumeration value="Coding"/>
			<xs:enumeration value="CodeFusion"/>
			<xs:enumeration value="Cognitive Science"/>
			<xs:enumeration value="COM"/>
			<xs:enumeration value="Computing Mathematics"/>
			<xs:enumeration value="Configure Management"/>
			<xs:enumeration value="Consulting"/>
			<xs:enumeration value="Corba"/>
			<xs:enumeration value="CPLD"/>
			<xs:enumeration value="CRM"/>
			<xs:enumeration value="CSCW"/>
			<xs:enumeration value="C++ Builder"/>
			<xs:enumeration value="C++"/>
			<xs:enumeration value="D3D"/>
			<xs:enumeration value="Data Compression"/>
			<xs:enumeration value="Data Mining"/>
			<xs:enumeration value="Data Warehousing/OLAP"/>
			<xs:enumeration value="Database"/>
			<xs:enumeration value="DB2"/>
			<xs:enumeration value="DC-DC Converter"/>
			<xs:enumeration value="DCOM"/>
			<xs:enumeration value="Delphi"/>
			<xs:enumeration value="DES"/>
			<xs:enumeration value="Design Pattern"/>
			<xs:enumeration value="Detail Design"/>
			<xs:enumeration value="DHTML"/>
			<xs:enumeration value="Digital Signal Processing"/>
			<xs:enumeration value="DirectX"/>
			<xs:enumeration value="Distributed Computing"/>
			<xs:enumeration value="DNS"/>
			<xs:enumeration value="DRAM"/>
			<xs:enumeration value="DreamWaver"/>
			<xs:enumeration value="DSound"/>
			<xs:enumeration value="DSP"/>
			<xs:enumeration value="D/A"/>
			<xs:enumeration value="e-Banking"/>
			<xs:enumeration value="e-Commerce"/>
			<xs:enumeration value="e-Education"/>
			<xs:enumeration value="e-Government"/>
			<xs:enumeration value="EAI"/>
			<xs:enumeration value="Eclipse"/>
			<xs:enumeration value="EDI"/>
			<xs:enumeration value="Embedded Linux Software"/>
			<xs:enumeration value="Embedded System"/>
			<xs:enumeration value="EJB"/>
			<xs:enumeration value="Encryption"/>
			<xs:enumeration value="EPLD"/>
			<xs:enumeration value="ERP"/>
			<xs:enumeration value="File Management"/>
			<xs:enumeration value="Firewall"/>
			<xs:enumeration value="Fortran"/>
			<xs:enumeration value="Foxpro"/>
			<xs:enumeration value="FPGA"/>
			<xs:enumeration value="FreeBSD"/>
			<xs:enumeration value="FTP"/>
			<xs:enumeration value="Graph Theory"/>
			<xs:enumeration value="Grid"/>
			<xs:enumeration value="GSM"/>
			<xs:enumeration value="HP-UX"/>
			<xs:enumeration value="Hosting Service"/>
			<xs:enumeration value="HTML"/>
			<xs:enumeration value="HTTP(s)"/>
			<xs:enumeration value="Human Computer Interaction/User Study"/>
			<xs:enumeration value="IBM IHS"/>
			<xs:enumeration value="IBM pSeries"/>
			<xs:enumeration value="IBM iSeries"/>
			<xs:enumeration value="IBM zSeries"/>
			<xs:enumeration value="Industrial Engineering"/>
			<xs:enumeration value="Image"/>
			<xs:enumeration value="Informix"/>
			<xs:enumeration value="Intelligent Information Integration"/>
			<xs:enumeration value="IPv6"/>
			<xs:enumeration value="ISA/PCI"/>
			<xs:enumeration value="ISO"/>
			<xs:enumeration value="IO Management"/>
			<xs:enumeration value="iPlanet"/>
			<xs:enumeration value="IVR"/>
			<xs:enumeration value="J2EE"/>
			<xs:enumeration value="J2ME"/>
			<xs:enumeration value="Java ME"/>
			<xs:enumeration value="Java EE"/>
			<xs:enumeration value="Java SE"/>
			<xs:enumeration value="Java RMI"/>
			<xs:enumeration value="Java"/>
			<xs:enumeration value="JavaScript"/>
			<xs:enumeration value="JavaBean"/>
			<xs:enumeration value="JBuilder"/>
			<xs:enumeration value="JDBC"/>
			<xs:enumeration value="JSP"/>
			<xs:enumeration value="Knowledge Management"/>
			<xs:enumeration value="LAN"/>
			<xs:enumeration value="LDAP"/>
			<xs:enumeration value="Linux"/>
			<xs:enumeration value="Lisp"/>
			<xs:enumeration value="Lotus Domino"/>
			<xs:enumeration value="LotusScript"/>
			<xs:enumeration value="Machine Learning"/>
			<xs:enumeration value="Machine Translation"/>
			<xs:enumeration value="Management Science"/>
			<xs:enumeration value="Marketing Service"/>
			<xs:enumeration value="Matlab"/>
			<xs:enumeration value="Memory Management"/>
			<xs:enumeration value="Messaging Queue"/>
			<xs:enumeration value="MHP"/>
			<xs:enumeration value="Micro-Processor"/>
			<xs:enumeration value="Middleware"/>
			<xs:enumeration value="Minix"/>
			<xs:enumeration value="Mobile/Wireless Network"/>
			<xs:enumeration value="MPEG"/>
			<xs:enumeration value="MPEG-4"/>
			<xs:enumeration value="MQSeries"/>
			<xs:enumeration value="MQSeries Integrator"/>
			<xs:enumeration value="MRP"/>
			<xs:enumeration value="MS IIS"/>
			<xs:enumeration value="MS SQL Server"/>
			<xs:enumeration value="MS Test"/>
			<xs:enumeration value="MS .Net"/>
			<xs:enumeration value="Multimedia"/>
			<xs:enumeration value="Multi Modal Interaction"/>
			<xs:enumeration value="Natural Language Process"/>
			<xs:enumeration value="Network Security"/>
			<xs:enumeration value="Neural Network"/>
			<xs:enumeration value="Object-Oriented Methodology"/>
			<xs:enumeration value="ODBC"/>
			<xs:enumeration value="OMG"/>
			<xs:enumeration value="OMT"/>
			<xs:enumeration value="Ontology"/>
			<xs:enumeration value="OpenGL"/>
			<xs:enumeration value="Operating System"/>
			<xs:enumeration value="Oracle"/>
			<xs:enumeration value="ORB"/>
			<xs:enumeration value="OSGi"/>
			<xs:enumeration value="OS/400"/>
			<xs:enumeration value="Parlay/OSA"/>
			<xs:enumeration value="Pascal"/>
			<xs:enumeration value="Pattern Recognition"/>
			<xs:enumeration value="Project Management"/>
			<xs:enumeration value="Psychology"/>
			<xs:enumeration value="P2P"/>
			<xs:enumeration value="Perl"/>
			<xs:enumeration value="Pervasive Computing"/>
			<xs:enumeration value="POP"/>
			<xs:enumeration value="Power Electronics"/>
			<xs:enumeration value="PowerBuilder"/>
			<xs:enumeration value="Predicate Logic"/>
			<xs:enumeration value="Process Management"/>
			<xs:enumeration value="Prolog"/>
			<xs:enumeration value="PSP"/>
			<xs:enumeration value="QoS"/>
			<xs:enumeration value="QuickPlace"/>
			<xs:enumeration value="Rapid-Prototype"/>
			<xs:enumeration value="RC5"/>
			<xs:enumeration value="RDF"/>
			<xs:enumeration value="Realtime System"/>
			<xs:enumeration value="Redhat"/>
			<xs:enumeration value="Requirement Capture"/>
			<xs:enumeration value="RIPV1"/>
			<xs:enumeration value="Rose"/>
			<xs:enumeration value="RSA"/>
			<xs:enumeration value="Rule System"/>
			<xs:enumeration value="RUP"/>
			<xs:enumeration value="Ruby"/>
			<xs:enumeration value="Ruby on Rails"/>
			<xs:enumeration value="SAP R3"/>
			<xs:enumeration value="Sametime"/>
			<xs:enumeration value="SCM"/>
			<xs:enumeration value="Search Engine"/>
			<xs:enumeration value="Security"/>
			<xs:enumeration value="Servlet"/>
			<xs:enumeration value="SET"/>
			<xs:enumeration value="Set Theory"/>
			<xs:enumeration value="SHA1"/>
			<xs:enumeration value="Siebel"/>
			<xs:enumeration value="Signal Processing"/>
			<xs:enumeration value="SIP"/>
			<xs:enumeration value="SmallTalk"/>
			<xs:enumeration value="SMTP"/>
			<xs:enumeration value="SNMP"/>
			<xs:enumeration value="SOAP"/>
			<xs:enumeration value="Solaris"/>
			<xs:enumeration value="Software Engineering"/>
			<xs:enumeration value="Spatial"/>
			<xs:enumeration value="Speech Recognition"/>
			<xs:enumeration value="Speech Technology's deployment in e-business"/>
			<xs:enumeration value="SQL"/>
			<xs:enumeration value="SSL"/>
			<xs:enumeration value="Statistics"/>
			<xs:enumeration value="SuSE"/>
			<xs:enumeration value="Sybase"/>
			<xs:enumeration value="System Analysis"/>
			<xs:enumeration value="System Engineering"/>
			<xs:enumeration value="System and Network Management"/>
			<xs:enumeration value="Tcl/Tk"/>
			<xs:enumeration value="TCP/IP"/>
			<xs:enumeration value="Telecommunication Facilities and Protocols"/>
			<xs:enumeration value="Testing"/>
			<xs:enumeration value="Text To Speech"/>
			<xs:enumeration value="Tivoli"/>
			<xs:enumeration value="Tone Recognition"/>
			<xs:enumeration value="Transcoding"/>
			<xs:enumeration value="TSP"/>
			<xs:enumeration value="UDDI"/>
			<xs:enumeration value="UML"/>
			<xs:enumeration value="Unix"/>
			<xs:enumeration value="Unstructured Information Management"/>
			<xs:enumeration value="Verilog HDL"/>
			<xs:enumeration value="VHDL"/>
			<xs:enumeration value="Visibroker"/>
			<xs:enumeration value="VisualAge for Java"/>
			<xs:enumeration value="Visual Basic"/>
			<xs:enumeration value="Visual Studio"/>
			<xs:enumeration value="VRML"/>
			<xs:enumeration value="WAN"/>
			<xs:enumeration value="WAP"/>
			<xs:enumeration value="Web Service"/>
			<xs:enumeration value="WebLogic"/>
			<xs:enumeration value="WebSphere"/>
			<xs:enumeration value="Windows"/>
			<xs:enumeration value="Wireless Lan"/>
			<xs:enumeration value="Workflow"/>
			<xs:enumeration value="WSAD"/>
			<xs:enumeration value="WSDL"/>
			<xs:enumeration value="XML"/>
			<xs:enumeration value="z/OS"/>
			<xs:enumeration value="Latex"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SkillLevelType">
		<xs:annotation>
			<xs:documentation>It defines three skill levels, outstanding, above average and normal.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Outstanding"/>
			<xs:enumeration value="AboveAverage"/>
			<xs:enumeration value="Normal"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- =====================End of Skill Definition========================-->
	<!-- =====================Date Definition================================-->
	<xs:complexType name="DurationType">
		<xs:annotation>
			<xs:documentation>It describes a time span by specifying the start date and the end date. The end date can be blank, which means it is still going on.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartDate" type="FlexibleDates"/>
			<xs:element name="EndDate" type="FlexibleDates" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FlexibleDates">
		<xs:annotation>
			<xs:documentation>It specifies a date value. It can be either Year, YearMonth, or YearMonthDay. User can choose proper format flexibly.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="YearMonth" type="xs:gYearMonth"/>
			<xs:element name="YearMonthDay" type="LocalDateType"/>
			<xs:element name="Year" type="xs:gYear"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="LocalDateType">
		<xs:annotation>
			<xs:documentation>It defines a date type in format YYYY-MM-DD.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="\d\d\d\d-\d\d-\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- =====================End of Date Definition=========================-->
</xs:schema>
